@font-face {
    font-family: 'Ribbon131 BT';
    src: url('Ribbon131BT-Regular.woff2') format('woff2'),
        url('Ribbon131BT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retromark Script Demo';
    src: url('RetromarkScriptDemo-Regular.woff2') format('woff2'),
        url('RetromarkScriptDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

